<!-- hello, world -->
<% layout('layouts/layout') %>

<table class="table tablestriped">
    <thead>
        <tr>
            <th class="text-start">Symbol</th>
            <th class="text-start">Name</th>
            <th class="text-end">Shares</th>
            <th class="text-end">Price</th>
            <th class="text-end">TOTAL</th>
            <th hidden class="text-end">Outflow Balance</th>
        </tr>
    </thead>

    <tbody>
        <% for (row in user_portfolio) { %> 
        <tr>
            <td class="text-start"> <%= user_portfolio[row].symbol %> </td>
            <td class="text-start"> <%= user_portfolio[row].name %> </td>
            <td class="text-end"> <%= user_portfolio[row].shares %> </td>
            <% if (user_portfolio[row].performance) {%> 
            <td class="text-end" id="row_price" style="color:blue"><%= user_portfolio[row].price %> </td>
            <%} else {%> 
            <td class="text-end" id="row_price" style="color:red"><%= user_portfolio[row].price %> </td>
            <% } %> 
            <td class="text-end" id="row_total"> <%= user_portfolio[row].total %> </td>
        </tr>
        <% } %> 
    </tbody>

    <tfoot>
        <tr>
            <td class="border-0 fw-bold text-end" colspan="4">Cash</td>
            <td class="border-0 text-end"><%= cash %></td>
        </tr>
        <tr>
            <td class="border-0 fw-bold text-end"  colspan="4">TOTAL</td>
            <td class="border-0 w-bold text-end"><%= grand_total %></td>
        </tr>
    </tfoot>
</table>
